.u-section-1 .u-sheet-1 {
  min-height: 32px;
}.u-section-2 .u-sheet-1 {
  min-height: 356px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}.u-section-3 .u-sheet-1 {
  min-height: 95px;
}